*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 98%);
    font-size: 15px;
}
.general{
    padding: 3rem;
}
.head{
    text-align: center;
}
.cards{
    padding: 30px;
    align-items: center;
    justify-content: center;
}
.card1,.card2,.card3,.card4{
    padding: 10px;
    margin: 10px;
    display: block;
    height: auro;
    border-radius: 2px;
    background-color: white;
}
.card1{
    border-top: 2px solid cyan;
}
.card2{
    border-top: 2px solid red;
}
.card3{
    border-top: 2px solid orange;
}
.card4{
    border-top: 2px solid rgb(38, 135, 135);
}
.imgs{
    text-align: end;
    margin: 20px;
}
p{
    font-weight: 200;
    color: hsl(229, 6%, 66%);
}
.heading{
    font-size: 20px;
}
h1{
    color: hsl(234, 12%, 34%);
    font-weight: 600;
}
h3{
    font-weight: 400;
    color: hsl(234, 12%, 34%);
}
@media (min-width: 900px) {
    .cards{
        display: flex;
    }
    .card1,.card2,.card3,.card4{
        height: auto;
        width: 15em;
    }
}